/* Rooted colours */
:root {
  --main-text-color: #212121;
  --main-hover-color: #2196f3;
  --main-grey-color: #757575;
  --main-white-color: #ffffff;
  --background-color-of-solution: #2f303a;
  --main-logo-color: #000000;
  --background-color-of-squad: #f5f4fa;
  --footer-contact-text: rgba(255, 255, 255, 0.6);
}
/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/* Logo */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--main-hover-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo > span {
  color: var(--main-logo-color);
}
.navigation {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation > ul > li > a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.navigation > ul > li > a:hover,
.navigation > ul > li > a:focus {
  color: var(--main-hover-color);
}

.contact > li > a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-grey-color);
}

.contact > li > a:hover,
.contact > li > a:focus {
  color: var(--main-hover-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

header > .navigation > ul {
  display: flex;
  gap: 46px;
}

.contact {
  display: flex;
  gap: 50px;
  margin-left: 371px;
}

.solution {
  background-color: var(--background-color-of-solution);
  color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution > h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
}

.solution > button {
  color: var(--main-white-color);
  background-color: var(--main-hover-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,88;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
}
.adventages > ul {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
  justify-content: center;
}
.adventages > ul > li > h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.adventages > ul > li > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--main-grey-color);
}
.our-job > h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-bottom: 50px;
}

.our-job > ul {
  display: flex;
  justify-content: space-around;
}
.our-job {
  padding-bottom: 94px;
}

.our-squad {
  background-color: var(--background-color-of-squad);
}
.our-squad > h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1,17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  color: var(--main-text-color);
}
.our-squad > ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 94px;
}
.our-squad > ul > li {
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-squad > ul > li > figure > figcaption > h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-squad > ul > li > figure > figcaption > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1,19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
  margin-bottom: 30px;
}
.footer {
  background-color: var(--background-color-of-solution);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
}
.footer > .logo {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer > .logo > span {
  color: var(--main-white-color);
}
.footer > address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-bottom: 60px;
}
.footer > address > a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-contact-text);
}
.footer > address > a[href='mailto:info@example.com'] {
  text-decoration-line: underline;
}

.filters > ul {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
}
.filters > ul > li > button {
  padding: 6px 22px 6px 22px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1,6;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--background-color-of-squad);
  border-radius: 4px;
}
.filters > ul > li > button:hover {
  background-color: var(--main-hover-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters {
  margin-bottom: 34px;
}
.projects > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.projects > ul > li > figure > figcaption {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  border-right: 1px solid rgba(236, 236, 236, 1);
  border-left: 1px solid rgba(236, 236, 236, 1);
  padding: 20px 24px;
}
.projects {
  margin-top: 34px;
  margin-bottom: 94px;
}
.projects > ul > li > figure > figcaption > h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.projects > ul > li > figure > figcaption > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1,88;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--main-grey-color);
}
