/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
}
/* BODY STYLE */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-text-color);
}
/* ROOTED COLOURS */
:root {
  --brand-text-color: #212121;
  --brand-black-color: rgb(0, 0, 0);
  --brand-hover-color: #2196f3;
  --brand-white-color: #ffffff;
  --brand-grey-color: #757575;
  --brand-grey-color-opacity: rgba(255, 255, 255, 0.6);
  --brand-background-color-squad: #f5f4fa;
  --brand-background-color-solution: #2f303a;
  --brand-header-line: rgba(236, 236, 236, 1);
  --brand-border-color: #eeeeee;
}
/* LINK GLOBAL STYLE */
a {
  text-decoration: none;
}
/* UNORDERED LIST GLOBAL STYLE */
li {
  list-style: none;
}
/* BUTTON GLOBAL STYLE */
button {
  cursor: pointer;
}
img {
  display: block;
}
/* HELPFUL CONTAINER */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* PAGE LOGO */
.header_logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--brand-hover-color);
  margin-right: 93px;
}
.header_logo_span {
  color: var(--brand-black-color);
}
.header_container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 46px;
  margin-right: 371px;
  padding: 32px 0;
}
.navigation_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--brand-text-color);
}
.navigation_link:is(:hover, :focus) {
  color: var(--brand-hover-color);
}
.header_contact {
  display: flex;
  gap: 50px;
}
.header_contact_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--brand-grey-color);
}
.header_contact_link:is(:hover, :focus) {
  color: var(--brand-hover-color);
}
header {
  border-bottom: 1px solid var(--brand-header-line);
}
.solution {
  background-color: var(--brand-background-color-solution);
}
.solution_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.solution_title {
  color: var(--brand-white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200px;
  width: 696px;
}
.solution_button {
  background-color: var(--brand-hover-color);
  color: var(--brand-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  margin-bottom: 200px;
}
.advantages_list {
  display: flex;
  gap: 30px;
  margin-top: 94px;
  margin-bottom: 94px;
  justify-content: center;
}
.advantages_item {
  width: 270px;
}
.advantages_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-text-color);
  margin-bottom: 10px;
}
.advatages_describtion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--brand-grey-color);
}
.our_job_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-text-color);
  margin-bottom: 50px;
}
.our_job_list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}
.our_squad {
  background-color: var(--brand-background-color-squad);
}
.our_squad_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-text-color);
  padding-top: 94px;
  margin-bottom: 50px;
}
.our_squad_list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}
.our_squad_item {
  background-color: var(--brand-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our_squad_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-text-color);
  padding-top: 30px;
}
.our_squad_rank {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-grey-color);
  padding-bottom: 30px;
}
.footer {
  background-color: var(--brand-background-color-solution);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer_logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--brand-hover-color);
}
.footer_logo_span {
  color: var(--brand-white-color);
}
.footer_address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--brand-white-color);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--brand-grey-color-opacity);
}
.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}
.filter_button {
  background-color: var(--brand-background-color-squad);
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--brand-text-color);
  padding: 6px 22px;
}
.filter_button:is(:hover, :focus) {
  background: var(--brand-hover-color);
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--brand-white-color);
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}
.project_description {
  border-right: 1px solid var(--brand-border-color);
  border-left: 1px solid var(--brand-border-color);
  border-bottom: 1px solid var(--brand-border-color);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 24px;
}
.project_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--brand-text-color);
}
.project_kind {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--brand-grey-color);
}
